@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

/* Header styles */
.header{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height:50vw;
    min-height:400px;
    max-height:500px;
    min-width:300px;
    color:#eee;
  }
  .header:after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
   background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
  }
  .header:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0); backface-visibility: hidden;
    scale(1.0, 1.0);
      transform: translateZ(0);
    background:#1B2030 url(https://images.unsplash.com/photo-1571993142257-eae0b44cf0f1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) 50% 0 no-repeat;
    background-size:100%;
    background-attachment:fixed;
    animation: grow 360s  linear 10ms infinite;
    transition:all 0.4s ease-in-out;
    z-index:-2
  }
  
 .header a{
    color:#eee
  }
.navigation{
    width:100%;
    padding:15% 10% 0 0%;
    text-align: center;
    text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

 .info{
    width:100%;
    padding:15% 10% 0 10%;
    text-align:center;
    text-shadow:0 2px 3px rgba(0,0,0,0.2)
  }

.meta{
    font-size:0.7em
    font-style:italic;
  }

/* Styles for unordered list of the nav */
nav ul {
    list-style-type: none; /* Removes the bullets */
}

/* Styles for list items */
nav ul li {
    display: inline; /* Make each list item display inline */
    margin-right: 5px; /* Optional: Space between each list item */
}

nav ul li a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #2a4c6f; /* Blue color */
    color: #FFF; /* White text */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth color transition */
}

nav ul li a:hover {
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
}

/* Section styles */
section {
    background-color: #b7ecf0;
    background: radial-gradient(#648880, #293f50);
    font-family: Arial, sans-serif;
    opacity: 0; 
    transition: opacity 1s ease-in-out;
    padding: 2rem;
    display: none; /* All sections are hidden by default */
}

.fade-in {
    opacity: 1;
}

#about {
    display: block; /* Only the "About Me" section is displayed by default */
    opacity: 1;
    background-color: #f7f7f7;  /* Light gray background */
    border: 1px solid #e0e0e0;  /* Light gray border */
    padding: 20px;
}

#about h2 {
    font-size: 24px;
    color: #050505;
    margin-bottom: 15px;
}

/* Container and Image styles */
.container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 40vh; /* Set the container's height to the viewport height */
}

.image-border {
    width: 200px; /* Initial width */
    height: 200px; /* Initial height */
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: transform 0.3s; /* Add transition for smooth animation */
}

.image-border:hover {
    transform: scale(1.2); /* Enlarge the image on hover */
}

.enlarge-on-hover {
    margin: 50px 100px; /* Add margin for spacing */
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}