/* Resets and base styles */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

/* Styles for unordered list of the nav */
nav ul {
    list-style-type: none; /* Removes the bullets */
}

/* Styles for list items */
nav ul li {
    display: inline; /* Make each list item display inline */
    margin-right: 5px; /* Optional: Space between each list item */
}

nav ul li a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #007BFF; /* Blue color */
    color: #FFF; /* White text */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth color transition */
}

nav ul li a:hover {
    background-color: #b3009b; /* "color" on hover */
}

/* Section styles */
section {
    background-color: #b7ecf0;
    background: radial-gradient(#648880, #293f50);
    font-family: Arial, sans-serif;
    opacity: 0; 
    transition: opacity 1s ease-in-out;
    padding: 2rem;
    display: none; /* All sections are hidden by default */
}

.fade-in {
    opacity: 1;
}

#about {
    display: block; /* Only the "About Me" section is displayed by default */
    opacity: 1;
    background-color: #f7f7f7;  /* Light gray background */
    border: 1px solid #e0e0e0;  /* Light gray border */
    padding: 20px;
}

#about h2 {
    font-size: 24px;
    color: #050505;
    margin-bottom: 15px;
}

/* Container and Image styles */
.container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 40vh; /* Set the container's height to the viewport height */
}

.image-border {
    width: 200px; /* Initial width */
    height: 200px; /* Initial height */
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: transform 0.3s; /* Add transition for smooth animation */
}

.image-border:hover {
    transform: scale(1.2); /* Enlarge the image on hover */
}

.enlarge-on-hover {
    margin: 50px 100px; /* Add margin for spacing */
}

/* Autotyping and typing text styles */
.autotyping {
    font-family: 'Playfair Display', serif;
    color: #FFF;
    font-size: 2.5em;
    font-weight: 800;
    margin: 10px 0;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}